services:
  postgresql:
    build: docker/postgresql
    restart: always
    volumes:
      - postgresql_bazafirm:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: bazafirm
      POSTGRES_USER: bazafirm
      POSTGRES_PASSWORD: bazafirm
    ports:
      - "15432:5432"

  keycloak:
    image: quay.io/keycloak/keycloak:26.4.0
    restart: always
    entrypoint: /opt/keycloak/bin/kc.sh start-dev --import-realm
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgresql:5432/postgres
      KC_DB_USERNAME: bazafirm
      KC_DB_PASSWORD: bazafirm
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: Pa55w0rd
      KEYCLOAK_PROFILE_FEATURE_UPLOAD: enabled
    command: ["-Dkeycloak.profile.feature.token_exchange=enabled"]
    volumes:
      - ./keycloak/keycloak-config/keycloak-config.json:/opt/keycloak/data/import/keycloak-config.json
      - ./keycloak/keycloak-customer-config/keycloak-customer-config.json:/opt/keycloak/data/import/keycloak-customer-config.json
    ports:
      - "8082:8080"
    depends_on:
      - postgresql

  minio:
    image: docker.io/bitnami/minio:2021
    restart: always
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - 'minio_data:/data'

  baza_firm:
    build: docker/baza_firm
    restart: always
    container_name: baza_firm
    depends_on:
      - postgresql
      - minio
    environment:
      DEPLOY_ENV: test
      CEIDG_PATH: https://dane.biznes.gov.pl/api/ceidg/v2
      CEIDG_TOKEN: eyJraWQiOiJjZWlkZyIsImFsZyI6IkhTNTEyIn0.eyJnaXZlbl9uYW1lIjoiVmFkeW0iLCJwZXNlbCI6IjkwMTAxMDE1OTE5IiwiaWF0IjoxNzM5NzkzNzQ4LCJmYW1pbHlfbmFtZSI6Iktvcm9sb3YiLCJjbGllbnRfaWQiOiJVU0VSLTkwMTAxMDE1OTE5LVZBRFlNLUtPUk9MT1YifQ.CsAz45KpS--N3rG4hLDgMEtpbr-SSz7nhnyRwws25Fh9YcJYTi3lWuU_rQpUlHzUDwObU9u7k3RFRMALb5-mMw
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgresql:5432/bazafirm
      SPRING_DATASOURCE_USERNAME: bazafirm
      SPRING_DATASOURCE_PASSWORD: bazafirm
      AWS_ACCESS_KEY: minio
      AWS_SECRET_KEY: minio123
      AWS_ENDPOINT: http://minio:9000
      TEMP_DIR_PATH: /tmp/bazafirm/

    ports:
      - "18080:8080"

volumes:
  minio_data:
    driver: local
  postgresql_bazafirm:
